email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
regisrty = http://ec2-35-154-157-252.ap-south-1.compute.amazonaws.com:8081/repository/nodejs-cloud4c/
allowRepublish=true
